@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Almarai-Regular.ttf");
}

@font-face {
  font-family: "Almarai-bold";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Almarai-Bold.ttf");
}

* {
  letter-spacing: 0.001em;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.heroSection .v-timeline-divider__after,
.heroSection .v-timeline-divider__before {
  background: #fff;
}

body {
  font-family: "Almarai", sans-serif;
}

.title, main .heroSection .hero-content h1, .coma {
  font-size: 3rem;
}

.relative {
  position: relative;
}

.contact {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  z-index: 1000;
  background-color: #b8860b;
  color: #fff;
}

.contact span {
  font-size: 12px;
}

.contact .v-col {
  padding: 0;
}

a {
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
}

.glowing-gradient-button {
  position: relative;
  display: inline-block;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#f9d71c), color-stop(50%, #d4af37)) !important;
  background: linear-gradient(to right, #f9d71c 0%, #d4af37 50%) !important;
  font-weight: bold;
  cursor: pointer;
  overflow: visible;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: -webkit-box-shadow 0.3s ease,  -webkit-transform 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease,  -webkit-transform 0.3s ease;
  transition: box-shadow 0.3s ease,  transform 0.3s ease;
  transition: box-shadow 0.3s ease,  transform 0.3s ease,  -webkit-box-shadow 0.3s ease,  -webkit-transform 0.3s ease;
}

.glowing-gradient-button .v-btn__content, .glowing-gradient-button .v-btn__append {
  color: #fff;
}

.glowing-gradient-button:hover {
  -webkit-box-shadow: 0px 10px 30px 0px #f9d81c73;
          box-shadow: 0px 10px 30px 0px #f9d81c73;
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
}

.text-6xl {
  font-family: "Almarai-bold";
  font-weight: 700;
  font-size: 3.75rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.grid-cols-2 {
  display: -ms-grid;
  display: grid;
}

.grid-cols-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
}

.bg-gray-50 {
  background-color: #fafafa;
}

.font-bold {
  font-weight: 700;
  font-family: "Almarai-bold";
}

button .v-btn__content, button .v-btn__append {
  color: #9a7209;
}

button.bg-success .v-btn__content, button.bg-success .v-btn__append, button.bg-success .v-btn__prepend, button.bg-primary .v-btn__content, button.bg-primary .v-btn__append, button.bg-primary .v-btn__prepend, button.bg-red .v-btn__content, button.bg-red .v-btn__append, button.bg-red .v-btn__prepend, button.white .v-btn__content, button.white .v-btn__append, button.white .v-btn__prepend {
  color: #fff;
}

#verticalCarousel .v-window__controls {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 12px;
}

.custom-button {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.custom-button:hover {
  background-color: #fefcf0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.custom-button .v-icon {
  color: #9a7209;
}

.transparent-20 {
  background-color: #fff3 !important;
}

.background-transparent {
  background: #fff3;
}

.opacity-80 {
  opacity: .8;
}

.opacity-90 {
  opacity: .9;
}

header {
  margin-top: 2rem;
  height: 80px;
}

header .v-toolbar__content {
  height: 100% !important;
}

#header {
  background-color: transparent;
  color: #fff;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3) !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#header .v-btn__content {
  color: #fff;
}

#dashboard-header {
  margin: 0;
  height: 64px;
  position: relative !important;
}

#header.backgroundColor {
  color: black !important;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3) !important;
  border-bottom: 1px solid #fdeeb3;
  border-bottom-width: 1px;
  height: 64px;
}

#header.backgroundColor .v-container {
  padding-block: .5rem;
}

#header.backgroundColor .logo {
  -webkit-box-shadow: 2px 2px 5px #d4af37;
          box-shadow: 2px 2px 5px #d4af37;
}

#header.backgroundColor .v-btn__content {
  color: black;
}

article {
  padding-top: 2rem;
}

.lang-switch {
  cursor: pointer;
}

main {
  padding-top: 30px !important;
}

#hero {
  padding-top: 120px !important;
  position: relative;
}

.hero-info-row {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-navigate {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #fff;
  border-radius: 9999px;
  border-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5rem;
  height: 2.5rem;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
  cursor: pointer;
}

.hero-navigate .scroll {
  background-color: #fff;
  width: .25rem;
  height: .75rem;
  margin-top: .5rem;
  border-radius: inherit;
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

main.bg-gray {
  background-color: #fafafa;
}

main .heroSection {
  min-height: 100vh;
  padding-inline: 6rem;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background: linear-gradient(135deg, #e6c200 0%, #d4af37 30%, #b8860b 70%, #9a7209 100%);
  color: #fff;
  position: relative;
}

.coma {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(1.05em, #eece67), color-stop(0em, #fff));
  background: linear-gradient(to right, #fff 0% 1em, #eece67 1.05em 1.65em, #fff 0em 113%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroImage {
  position: absolute;
  right: -100px;
  bottom: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.heroButton {
  color: #36939e !important;
}

.heroButton:hover {
  background-color: #e9c349;
  color: #fff !important;
}

section {
  padding: 4rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fff));
  background: linear-gradient(to bottom, #fafafa, #fff);
}

.card {
  -webkit-box-shadow: 1px 2px 29px #11111123;
          box-shadow: 1px 2px 29px #11111123;
  height: 100%;
  border-radius: .75rem;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  overflow: hidden;
}

.card.service-card img {
  border-start-start-radius: .75rem;
  border-end-start-radius: .75rem;
}

.card.service-card .v-avatar {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 80px #11111123;
          box-shadow: 0px 0px 80px #11111123;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  border: 1px solid #e6c200;
}

.card.flat {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.follow-us .v-avatar {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.follow-us .v-avatar.facebook {
  background-color: #dbeafe;
}

.follow-us .v-avatar.facebook i {
  color: #000 !important;
}

.follow-us .v-avatar.facebook:hover {
  background-color: #2563eb;
}

.follow-us .v-avatar.facebook:hover i {
  color: #fff !important;
}

.follow-us .v-avatar.instagram {
  background-color: #fce7f3;
}

.follow-us .v-avatar.instagram i {
  color: #000 !important;
}

.follow-us .v-avatar.instagram:hover {
  background-color: #db2777;
}

.follow-us .v-avatar.instagram:hover i {
  color: #fff !important;
}

.follow-us .v-avatar.tiktok {
  background-color: #474747;
}

.follow-us .v-avatar.tiktok i {
  color: #ffffff !important;
}

.follow-us .v-avatar.tiktok:hover {
  background-color: #000000;
}

.follow-us .v-avatar.tiktok:hover i {
  color: #fff !important;
}

.follow-us .v-avatar.message {
  background-color: #dcfce7;
}

.follow-us .v-avatar.message i {
  color: #000 !important;
}

.follow-us .v-avatar.message:hover {
  background-color: #16a34a;
}

.follow-us .v-avatar.message:hover i {
  color: #fff !important;
}

.my-custom-card {
  -webkit-box-shadow: 1px 2px 29px #11111123 !important;
          box-shadow: 1px 2px 29px #11111123 !important;
  border-radius: .75rem !important;
  padding: 2rem !important;
}

.card-gradient {
  background: -webkit-gradient(linear, left top, right bottom, from(#fad81d), to(#c19508));
  background: linear-gradient(to bottom right, #fad81d, #c19508);
  padding: 2rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  text-align: start;
}

.card-gradient img {
  border-radius: .5rem;
}

.card-gradient * {
  color: #fff;
}

.card-gradient p {
  line-height: 26px;
}

.text-dark {
  color: #9a7209;
}

.title, main .heroSection .hero-content h1, .coma {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Almarai-bold";
}

.text-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#f9d71c), color-stop(50%, #d4af37));
  background: linear-gradient(to right, #f9d71c 0%, #d4af37 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
}

.line-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#f9d71c), color-stop(50%, #d4af37));
  background: linear-gradient(to right, #f9d71c 0%, #d4af37 50%);
  width: 6rem;
  height: .25rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: #525252;
  text-align: start;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.list-dot {
  width: .5rem;
  height: .5rem;
  background-color: #e6c200;
  border-radius: 50%;
}

#aboutus {
  position: relative;
  min-height: 80vh;
}

.line {
  position: absolute;
  height: 8px;
  background-color: #36939e;
}

.project-card .year {
  position: absolute;
  top: 1rem;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  background: #d4af37;
  color: #fff;
}

.project-card .v-btn {
  width: 135px;
}

.service-card .margin-image-service {
  -webkit-margin-start: 12rem;
          margin-inline-start: 12rem;
}

#our-numbers {
  background: -webkit-gradient(linear, left top, right bottom, from(#fad81d), to(#c19508));
  background: linear-gradient(to bottom right, #fad81d, #c19508);
  color: #fff !important;
}

#our-numbers .card {
  padding: 2rem;
  background: #fff3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#our-numbers .card .v-avatar {
  background: #fff3;
}

#our-numbers .line-gradient {
  background: #fff;
  opacity: 0.5;
}

#work-team .worker-card .social-media-icons .v-btn {
  background: #d4af37 !important;
}

.top_long_line {
  width: 15%;
  left: 0;
}

.top_short_line {
  width: 10%;
  left: 0;
  top: 78px;
}

.bottom_long_line {
  width: 40%;
  bottom: 0;
}

.bottom_short_line {
  width: 30%;
  bottom: 12px;
}

#visionAndmessage {
  padding-block: 6rem;
}

#visionAndmessage .subTitle {
  color: #b8860b;
}

#visionAndmessage .subTitle::after {
  width: 0%;
  padding: 0;
}

.card-hold-text {
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 29px #11111123;
          box-shadow: 1px 2px 29px #11111123;
  padding: 1.5rem;
  border-radius: 16px;
  height: 100%;
  width: 80%;
  text-align: center;
  position: relative;
}

.card-hold-text i {
  color: #d4af37;
  font-size: 4rem;
}

.card-hold-text .subTitle {
  margin: .8rem 0 0;
  padding: 0;
  font-size: 2rem;
}

.card-hold-text p {
  width: 100%;
  line-height: 38px;
  margin: 1.5rem auto;
}

.card-hold-text .top_long_line {
  height: 5px;
  top: 15px;
}

.card-hold-text .top_short_line {
  height: 5px;
  top: 26px;
}

.goal {
  position: relative;
}

.goal .number {
  position: absolute;
  top: -15px;
  right: -0px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  background-color: #d4af37;
  color: #fff;
}

.goal p {
  margin-top: 1rem;
}

.card-no-shadow {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  padding: 2rem;
  font-size: .8rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-no-shadow .v-icon {
  color: #d4af37;
  width: 50px;
  font-weight: bold;
}

.card-no-shadow p {
  margin-top: 1rem;
}

.card-no-shadow:hover {
  background: #d4af37;
  color: #fff !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-no-shadow:hover .v-icon {
  color: #fff;
}

.card-no-shadow:hover p {
  opacity: 1;
  color: #fff;
}

#footer {
  padding: 6rem 0 1rem;
  background: linear-gradient(135deg, #171717, #262626, #404040);
  position: relative;
  color: #fff;
}

#footer p {
  color: #fff;
  opacity: 0.8;
}

#footer .follow-us .v-avatar {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#footer .follow-us .v-avatar.facebook {
  background-color: #2563eb;
}

#footer .follow-us .v-avatar.facebook i {
  color: #fff !important;
}

#footer .follow-us .v-avatar.facebook:hover {
  background-color: #174cbe;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#footer .follow-us .v-avatar.facebook:hover i {
  color: #fff !important;
}

#footer .follow-us .v-avatar.instagram {
  background-color: #db2777;
}

#footer .follow-us .v-avatar.instagram i {
  color: #fff !important;
}

#footer .follow-us .v-avatar.instagram:hover {
  background-color: #bb1d64;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#footer .follow-us .v-avatar.instagram:hover i {
  color: #fff !important;
}

#footer .follow-us .v-avatar.tiktok {
  background-color: #474747;
}

#footer .follow-us .v-avatar.tiktok i {
  color: #ffffff !important;
}

#footer .follow-us .v-avatar.tiktok:hover {
  background-color: #000000;
}

#footer .follow-us .v-avatar.tiktok:hover i {
  color: #fff !important;
}

#footer .follow-us .v-avatar.message {
  background-color: #16a34a;
}

#footer .follow-us .v-avatar.message i {
  color: #fff !important;
}

#footer .follow-us .v-avatar.message:hover {
  background-color: #10863b;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#footer .follow-us .v-avatar.message:hover i {
  color: #fff !important;
}

#footer .list a {
  color: #fff;
}

#footer .list a:hover {
  color: #d4af37;
  opacity: 1;
}

.image_container {
  width: 230px;
  height: 175px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image_container img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.image_container .image_feature {
  background-color: rgba(0, 0, 0, 0.863);
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  font-size: 14px;
}

.image_container .left {
  left: 5px;
  bottom: 5px;
}

.image_container .right {
  right: 5px;
  bottom: 5px;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.image_container:hover .right {
  opacity: 1;
}

.RealEstate_card .v-card-subtitle {
  padding: 0 3px;
}

.RealEstate_card .content {
  overflow: hidden;
}

.RealEstate_card .v-btn__content {
  grid-area: auto;
}

.RealEstate_card .price {
  color: #b8860b;
}

.RealEstate_card.height {
  height: 200px;
}

.RealEstate_images_grid .v-img {
  border-radius: 4px;
}

.carousel_card {
  background-color: #00353b !important;
  overflow-y: hidden !important;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.carousel_card .close_btn {
  position: absolute;
  left: 16px;
  top: 10px;
  z-index: 999;
}

.carousel_card .row_images {
  max-height: 100%;
}

.carousel_card .row_images .v-row {
  gap: .5rem;
  overflow-y: auto;
  max-height: 90%;
}

.carousel_card .row_images .v-row::-webkit-scrollbar {
  width: .5em;
}

.carousel_card .row_images .v-row::-webkit-scrollbar-thumb {
  background-color: #d4af37;
}

.carousel_card .row_images li {
  height: 100px;
  width: 100px;
}

.carousel_card .row_images li .v-responsive {
  width: 100%;
  height: 100%;
}

.carousel_card .row_images img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel_card .row_images img:hover {
  opacity: 1;
  border: 2px solid #fff;
  cursor: pointer;
}

.registration-left {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: left;
  background: linear-gradient(135deg, #e6c200 0%, #d4af37 30%, #b8860b 70%, #9a7209 100%);
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration-left .title, .registration-left main .heroSection .hero-content h1, main .heroSection .hero-content .registration-left h1, .registration-left .coma {
  color: #fff;
}

.preview_images_container {
  max-height: 200px;
  overflow-y: auto;
}

.v-card#Filter_Card label.v-label, .v-card#Filter_Card .v-card-subtitle {
  font-size: 12px;
}

.v-card#Filter_Card .v-field--appended {
  -webkit-padding-end: 0px;
          padding-inline-end: 0px;
}

.hover_effect {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hover_effect:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.list-enter-active,
.list-leave-active {
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.slide-fade-enter-active {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
}

@media (max-width: 321px) {
  .carousel_card .row_images li {
    width: 130px;
  }
}

@media (max-width: 426px) {
  .title, main .heroSection .hero-content h1, .coma {
    font-size: 2rem;
  }
  main .v-container.heroSection {
    padding: 2rem !important;
  }
  main .v-container.heroSection::after {
    bottom: 50px !important;
    left: -150px !important;
  }
  .coma::after {
    left: 14px;
    top: -10px;
  }
  .heroImage {
    width: 250px !important;
    height: 250px !important;
  }
  #aboutus p {
    max-width: 100%;
  }
  .carousel_card .row_images li {
    width: 120px;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    /* fast out */
  }
  30% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    /* slow in */
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    /* fast out */
  }
  30% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    /* slow in */
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media (max-width: 426px) {
  .text-6xl {
    font-size: 2rem;
  }
  main .heroSection {
    padding-inline: 0.5rem !important;
  }
  .service-card .margin-image-service {
    -webkit-margin-start: 0rem !important;
            margin-inline-start: 0rem !important;
  }
  .grid-cols-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .info-header {
    display: none !important;
  }
}

@media (max-width: 769px) {
  main .v-container.heroSection {
    padding: 4rem;
  }
  main .v-container.heroSection::after {
    bottom: 120px;
    left: -260px;
  }
  .heroImage {
    right: -50px;
    bottom: 0;
    width: 300px;
    height: 300px;
  }
  #aboutus p {
    max-width: 100%;
  }
  .card-hold-text {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 1020px) {
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
}

@media (max-width: 14439px) {
  .service-card .image-container {
    height: 200px !important;
  }
  .service-card .margin-image-service {
    -webkit-margin-start: 0 !important;
            margin-inline-start: 0 !important;
    -webkit-margin-before: 12rem;
            margin-block-start: 12rem;
  }
}

@media (min-width: 1023px) {
  main .v-container.heroSection::after {
    bottom: 300px;
    left: -400px;
  }
  .title, main .heroSection .hero-content h1, .coma {
    font-size: 2.5rem;
  }
  .grid-cols-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1438px) {
  main .v-container.heroSection::after {
    left: -420px;
  }
  .title, main .heroSection .hero-content h1, .coma {
    font-size: 3rem;
  }
}

@media (min-width: 1438px) {
  main .v-container.heroSection::after {
    left: -670px;
  }
}

@media (min-width: 1920px) {
  main .v-container.realEstate-container {
    max-width: 1360px;
  }
}

@media (min-width: 1536px) {
  .v-container {
    max-width: 1536px !important;
  }
}
/*# sourceMappingURL=main.css.map */