$primary-color: #d4af37;
$secondary-color: #e6c200;
$primary-color-onHover: #e9c349;
$light-primary: #eece67;
$bold-color: #b8860b;
$carousel-background: #00353b;
$hero-background: #ffffff;
$background-gray: rgb(184, 172, 172);
$background-light: #fef7d9;
$background-transparent: #fff3;
$bg-gray-50: #fafafa;
$section-gradient: linear-gradient(to bottom,#fafafa,#fff);
$white: #fff;
$text-dark: #9a7209;
$text-gray: #525252;
$box-shadow: 1px 2px 29px  #11111123;
$box-shadow-hover: 0px 0px 80px #11111123;
$border-radius: 16px;
$paragraph-color: #525252;
$button-text-color: #9a7209;
$button-bg-hover-color:#fefcf0;
$text-color: #36939e;
$light-color: #4fb0be;
$light-border: #fdeeb3;
$liner-gredient-text: linear-gradient(to right, #f9d71c 0% , $primary-color 50%);
$liner-gredient-to-bottom: linear-gradient(to bottom right, #fad81d, #c19508);
$liner-gredient: linear-gradient(135deg, #e6c200 0%, #d4af37 30%, #b8860b 70%, #9a7209 100%);
$footer-bg: linear-gradient(135deg,#171717,#262626,#404040);
// fonts sizes 
$text-6xl: 3.75rem;
$text-4xl: 2.25rem;
$text-3xl: 1.875rem;
$text-2xl: 1.5rem;
$text-xl: 1.25rem;
$text-lg: 1.125rem;
$text-sm: .875rem;
$transparent-20: #fff3;
@font-face {
    font-family: "Almarai";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Almarai-Regular.ttf");
}
@font-face {
    font-family: "Almarai-bold";
    font-style:normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Almarai-Bold.ttf");
}
* {
    letter-spacing: 0.001em;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
.heroSection .v-timeline-divider__after,
.heroSection .v-timeline-divider__before {
    background: $white;
}
body {
    font-family: "Almarai", sans-serif;
}
.title {
    font-size: 3rem;
}
.relative {
    position: relative;
}
.contact {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: .5rem 1rem;
    z-index: 1000;
    background-color: $bold-color;
    color: $white;
    span{
        font-size: 12px;
    }
    .v-col {
        padding: 0;
    }
}
a {
    text-decoration: none;
    opacity: 0.8;
}
.glowing-gradient-button {
    position: relative;
  display: inline-block;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 8px;
  background: $liner-gredient-text !important;
  font-weight: bold;
  cursor: pointer;
  overflow: visible;
  box-shadow: none !important;
  transition: box-shadow 0.3s ease,  transform 0.3s ease;
    .v-btn__content, .v-btn__append{
        color: $white;
    }
  &:hover {
    box-shadow: 0px 10px 30px 0px #f9d81c73;
    transform: translateY(-1.5px);
  }

  
}
.text-6xl {font-family: "Almarai-bold"; font-weight: 700; font-size: $text-6xl}
.text-4xl {font-size: $text-4xl}
.text-3xl {font-size: $text-3xl}
.text-2xl {font-size: $text-2xl}
.text-xl {font-size: $text-xl}
.text-lg {font-size: $text-lg}
.text-sm {
    font-size: $text-sm;
    line-height: 1.25rem;
}
.grid-cols-2 {
    display: grid;
}
.grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr))
}
.bg-gray-50 {
    background-color: $bg-gray-50;
}
.font-bold{font-weight: 700; font-family: "Almarai-bold";}
button{
    .v-btn__content, .v-btn__append {
        color: $button-text-color;
    }
    &.bg-success,&.bg-primary,&.bg-red, &.white {
         .v-btn__content, .v-btn__append , .v-btn__prepend {
            color: $white;
        }
    }
    
    
}
#verticalCarousel .v-window__controls{
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 12px;
}
.custom-button {
    transition: all .5s ease-in-out;
        &:hover {
            background-color: $button-bg-hover-color;
            transform: scale(1.05);
        }
        .v-icon {
            color: $button-text-color;
        }
    }
.transparent-20 {
    background-color: $transparent-20 !important;
}
.background-transparent {
    background: $background-transparent;
}
.opacity-80 {
    opacity: .8;
}
.opacity-90 {
    opacity: .9;
}
header {
    margin-top: 2rem;
    height: 80px;
    .v-toolbar__content {
        height: auto !important;
    }
}
#header {
    background-color: transparent;
    color: $white;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3) !important;
    transition: all .5s ease-in-out;
    .v-btn__content {
        color: #000;
    }
}
#dashboard-header {
    margin: 0;
    height: 64px;
    
}
#header.backgroundColor {
    .v-container {
        padding-block: .5rem;
    }
    color: black !important;
    background-color: $white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3) !important;
    border-bottom: 1px solid $light-border;
    border-bottom-width: 1px;
    height: 64px;
    .logo {
        box-shadow: 2px 2px 5px $primary-color
    }
    
}
// main {
//     padding-top: 70px ;
// }
#hero {
    padding-top: 120px !important;
    position: relative;
}
.hero-info-row {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}
.hero-navigate {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid $white;
    border-radius: 9999px;
    border-color: $white;
    display: flex;
    justify-content: center;
    width: 1.5rem;
    height: 2.5rem;
    animation: bounce 2s infinite;
    cursor: pointer;
    .scroll {
        background-color: $white;
        width: .25rem;
        height: .75rem;
        margin-top: .5rem;
        border-radius: inherit;
        animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
    }

}
main.bg-gray {
    background-color: $bg-gray-50;
}
main .heroSection {
    min-height: 100vh;
    padding-inline: 6rem;
    // background-color: $hero-background;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background: $liner-gredient;
    color: $white;
    position: relative;
    // &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: -340px;
    //     width: 100%;
    //     height: 70px;
    //     transform: rotate(60deg);
    //     background: $liner-gredient;
    // }
    // &>* {
    //     color: $white;
    // }
    .hero-content {
        h1 {
            @extend .title;
        }
    }
}

.coma {
    @extend .title;
    position: relative;
    background: linear-gradient(to right, $white 0% 1.0em, $light-primary 1.05em 1.65em, $white 0em 113%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heroImage {
    position: absolute;
    right: -100px;
    bottom: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.heroButton {
    color: $text-color !important;

    &:hover{
        background-color: $primary-color-onHover;
        color: $white !important;
    }
}
section {
    padding: 4rem 0;
    background: $section-gradient;
}
.card {
    box-shadow: $box-shadow;
    height: 100%;
    border-radius: .75rem;
    transition: transform .3s ease-in-out;
    overflow: hidden;
    &.service-card {
        img{
            border-start-start-radius: .75rem;
            border-end-start-radius: .75rem;
        }
        .v-avatar {
            transition: all .3s ease-in-out;
        }

    }
    &:hover {
        box-shadow: $box-shadow-hover;
        transform: translateY(-5px);
        border: 1px solid $secondary-color;
    }
    &.flat {
        box-shadow: none !important;
    }
}

.follow-us {
    .v-avatar {
        transition: all .2s ease-in-out;
        &.facebook{
            background-color: #dbeafe;
            i {color: #000 !important;}
            &:hover {
                i {color: $white !important;}
                background-color: #2563eb;
            }
        }
        &.instagram{
            background-color: #fce7f3;
            i {color: #000 !important;}
            &:hover {
                i {color: $white !important;}
                background-color: #db2777;
            }
        }
        &.message{
            background-color: #dcfce7;
            i {color: #000 !important;}
            &:hover {
                i {color: $white !important;}
                background-color: #16a34a;
            }
        }
    }
}
.my-custom-card {
    box-shadow: $box-shadow !important;
    border-radius: .75rem !important;
    padding: 2rem !important;
}
.card-gradient {
    background: $liner-gredient-to-bottom;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    text-align: start;
    img{
        border-radius: .5rem;
    }
    *{
        color: $white;
    }
    p {
        line-height: 26px;
    }
}
.text-dark {
    color: $text-dark;
}
// Section
.title {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    font-family: "Almarai-bold";
    
}
.text-gradient {
    background: $liner-gredient-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
}
.line-gradient {
    background: $liner-gredient-text;
    width: 6rem;
    height: .25rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
p {

    color: $text-gray;
    text-align: start;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
.list-dot {
    width: .5rem;
    height: .5rem;
    background-color: $secondary-color;
    border-radius: 50%;
}
#aboutus {
    position: relative;
    min-height: 80vh;
} 
.line {
    position: absolute;
    height: 8px;
    background-color: $text-color;
}
.project-card {
    .year {
        position: absolute;
        top: 1rem;
        margin-inline-start: 1rem;
        background: $primary-color;
        color: $white;
    }
    // p {
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     word-break:;
    // }
    .v-btn {
        width: 135px;
    }
}
.service-card .margin-image-service {
    margin-inline-start: 12rem;
}
#our-numbers {
    background: $liner-gredient-to-bottom;
    color: $white !important;

    .card {
        padding: 2rem;
        background: $background-transparent;
        box-shadow: none;
        .v-avatar {
            background: $background-transparent;
        }
    }
    .line-gradient {
        background: $white;
        opacity: 0.5;
    }
}
#work-team {
    .worker-card {
        .social-media-icons {
            .v-btn {
                background : $primary-color !important;
            }
        }
    }
}

.top_long_line {
    width: 15%;
    left: 0;
}
.top_short_line {
    width: 10%;
    left: 0;
    top: 78px;
}
.bottom_long_line {
    width: 40%;
    bottom: 0;
}
.bottom_short_line {
    width: 30%;
    bottom: 12px;
}
// Vision And Message Section 

#visionAndmessage {
    padding-block: 6rem;

    .subTitle {
        color: $bold-color;
        &::after {
            width: 0%;
            padding: 0;
        }
    }
}
.card-hold-text {
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 1.5rem;
    border-radius: $border-radius;
    height: 100%;
    width: 80%;
    text-align: center;
    position: relative;

    i {
        color: $primary-color;
        font-size: 4rem;
    }
    .subTitle{
        margin: .8rem 0 0;
        padding: 0;
        font-size: 2rem;
    }
    p {
        width: 100%;
        line-height: 38px;
        margin: 1.5rem auto;
    }
    .top_long_line{
        height: 5px;
        top: 15px;
    }
    .top_short_line{
        height: 5px;
        top: 26px;
    }
}

// Goals Section 
 
.goal {
    position: relative;
    .number {
        position: absolute;
        top: -15px;
        right: -0px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        background-color: $primary-color;
        color: $white;
    }
    p{
        margin-top: 1rem;
    }
}

// Services Section 
.card-no-shadow {
    border-radius: $border-radius;
    height: 100%;
    width: 100%;
    padding: 2rem;
    font-size: .8rem;
    transition: all .3s ease-in-out;
    .v-icon {
        color: $primary-color;
        width: 50px;
        font-weight: bold;
    }

    p{
        margin-top: 1rem;
    }

   &:hover {
    background:$primary-color;
    color: $white !important;
    transition: all .3s ease-in-out;
    .v-icon {
        color: $white;
    }
    p {
        opacity: 1;
        color: $white;
    }
   }
}

// Footer Section 
#footer {
    padding: 6rem 0 1rem;
    background: $footer-bg; 
    position: relative;
    color: $white;
    p {
        color: $white;
        opacity: 0.8;
    }

   .follow-us {
        .v-avatar {
                transition: all .2s ease-in-out;
                &.facebook{
                    background-color: #2563eb;
                    i {color: #fff!important;}
                    &:hover {
                        i {color: $white !important;}
                        background-color: #174cbe;
                        transform: scale(1.05);
                    }
                }
                &.instagram{
                    background-color: #db2777;
                    i {color: #fff !important;}
                    &:hover {
                        i {color: $white !important;}
                        background-color: #bb1d64;
                        transform: scale(1.05);
                    }
                }
                &.message{
                    background-color: #16a34a;
                    i {color: #fff !important;}
                    &:hover {
                        i {color: $white !important;}
                        background-color: #10863b;
                        transform: scale(1.05);
                    }
                }
            }
        }
   .list {
    a {
        color: $white;
        &:hover {
            color: $primary-color;
            opacity: 1;
        }
    }
   }
}


// Real Estate عقارات 
.image_container {
    width: 230px;
    height: 175px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .image_feature{
        background-color: rgba(0, 0, 0, 0.863);
        color: white;
        border-radius: 4px;
        padding: 4px 8px;
        position: absolute;
        font-size: 14px;
        
    }
    .left{
        left: 5px;
        bottom: 5px;
    }
    .right {
        right: 5px;
        bottom: 5px;
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    &:hover{
        .right {opacity: 1;}
    }
}
.RealEstate_card {
    .v-card-subtitle {
        padding: 0 3px;
    }

    .content {
        overflow: hidden;
    }
    .v-btn__content {
        grid-area: auto;
    }
    .price {
        color: $bold-color;
    }
}
.RealEstate_card.height {
    height: 200px;
}

.RealEstate_images_grid {
    .v-img {
        border-radius: 4px;
    }
}

.carousel_card {
    background-color: $carousel-background !important;
    overflow-y: hidden !important;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    .close_btn {
        position: absolute;
        left: 16px;
        top: 10px;
        z-index: 999;
    }
    .row_images {
        max-height: 100%;
       
        .v-row{
            gap: .5rem;
            overflow-y: auto;
            max-height: 90%;

            &::-webkit-scrollbar {
                width: .5em;
              }
            
            &::-webkit-scrollbar-thumb {
                background-color: $primary-color;
                // outline: 1px solid $bold-color;
            }
        }
        li {
            height: 100px;
            width: 100px;
            .v-responsive{
                width: 100%;
                height: 100%;
            }
        }
        img {
            width: 100%;
            height: 100%;
            opacity: 0.7;
            border-radius: 4px;
            object-fit: cover;
            &:hover {
                opacity: 1;
                border: 2px solid $white;
                cursor: pointer;
            }
        }
    }
    
}

// Registratio Layout 
.registration-left{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: left;
    background: $liner-gredient;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .title {
        color: $white;
    }
}

// Advertisment 
.preview_images_container {
    max-height: 200px;
    overflow-y: auto;
}
.v-card#Filter_Card label.v-label ,.v-card#Filter_Card .v-card-subtitle {
    font-size:12px;
}
.v-card#Filter_Card .v-field--appended {
    padding-inline-end: 0px
}
.hover_effect {
    transition: all .3s ease-in-out;
}
.hover_effect:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
}
// Transtiosns animation

// For Groups
.list-enter-active,
.list-leave-active {
    transition: all 3s ease;
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
// for Single Elemnts 
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }


// Mobile
@media (max-width: 321px) {
    .carousel_card .row_images {
        li {
            width: 130px;
        }
    }
}
@media (max-width: 426px) {
    .title {
        font-size: 2rem;
    }
    main .v-container.heroSection {
        padding: 2rem !important;
        &::after {
            bottom: 50px !important;
            left: -150px !important;
        }
    }
    .coma {
        &::after {
            left: 14px;
            top: -10px;
        }
    }
    .heroImage {
        width: 250px !important;
        height: 250px !important;
    }
    #aboutus {
        p {
            max-width: 100%;
        }
    }
    .carousel_card .row_images {
        li {
            width: 120px;
        }
    }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1); /* fast out */
  }
  30% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1); /* slow in */
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
// Tablets
@media (max-width: 769px) {
    main .v-container.heroSection {
        padding: 4rem;
        &::after {
            bottom: 120px;
            left: -260px;
        }
    }
    .heroImage {
        right: -50px;
        bottom: 0;
        width: 300px;
        height: 300px;
    }
    #aboutus {
        p {
            max-width: 100%;
        }
    }
    .card-hold-text {
        width: 100%;
        padding: 1rem;
    }

}
@media (max-width: 1020px) {
     .service-card {
        .image-container {
            height: 200px !important;
        }
        .margin-image-service {
        margin-inline-start: 0;
        margin-block-start: 12rem;
        }
     } 
    
}
@media (min-width: 1023px) {
    main .v-container.heroSection {
        &::after {
            bottom: 300px;
            left: -400px;
        }
    }
    .title{
        font-size: 2.5rem;
    }
    .grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1438px) {
    main .v-container.heroSection {
        &::after {
            left: -420px;
        }
    }
    .title{
        font-size: 3rem;
    }
}
@media (min-width: 1438px) {
    main .v-container.heroSection {
        &::after {
            left: -670px;
        }
    }
}

@media (min-width: 1920px) {
    main .v-container.realEstate-container  {
        max-width: 1360px;
    }
}

@media (min-width: 1536px) {
    .v-container {
        max-width: 1536px !important;
    }
}
